/* Настройки светлой схемы */

[data-md-color-scheme="standart"] {
  --md-primary-fg-color: #856EDD; /*Основной цвет*/
  --md-accent-fg-color: #3A2490; /*Акцентный цвет*/
  --md-typeset-a-color: #3A2490; /*Цвет ссылок*/
  --md-default-bg-color: #e4e1ee; /*Фоновый цвет*/
  --md-default-fg-color: #353535; /*Основной цвет текста (абзацы, списки, подзаголовки, nav и toc)*/
  --md-code-bg-color: #fcfbfd; /*Цвет фона блока кода*/
  --md-code-fg-color: #7467A6; /*Цвет текста в блоке кода*/
  --md-default-fg-color--light: #4e4d4d; /*Цвет h1 и заголовков блоков toc и nav*/
  --md-footer-bg-color: #856EDD; /*Цвет футера*/
}

.md-typeset {
    font-family: 'Times New Roman';
    font-weight: 200;
    font-size: 18px;
    color: #353535;
}

.md-content h1, .md-content h2, .md-content h3, .md-content h4, .md-content nav {
    font-family: 'Times New Roman';
    font-weight: 600;

    color: #271f49;
}
.md-nav__link {
    font-family: 'Times New Roman';
    font-weight: 200;
    font-size: 18px;
    color: #353535;
}
.admonition-title {
    font-size: 14px;
}

.md-content h1 {
    font-size: 26px;
}

.md-content h2 {
    font-size: 24px;
}

.md-content h3 {
    font-size: 22px;
}

.md-content h4 {
    font-size: 20px;
}